{% for sortie in sorties %}
    {#
    Savoir si l'utilisateur connecté est participant ou non, organisateur ou non
    #}
    {% set boutonCardSortie = sortie.getEtat.getlibelle %}
    {% set nbParticipant = sortie.participants|length %}

    {% if boutonCardSortie != "Passée" and boutonCardSortie != "En cours" and sortie.getEtat.getlibelle != "Annulée" %}
        {% if sortie.nbInscriptionMax == nbParticipant %}

            {% set boutonCardSortie = "Complet" %}
        {% endif %}
        {% for participant in sortie.participants %}
            {% if app.user.id == participant.id %}
                {% set boutonCardSortie = "Se desister" %}
            {% endif %}
        {% endfor %}
        {% if sortie.organisateur == app.user %}
            {% set boutonCardSortie = "Annuler sortie" %}
        {% endif %}
        {% if boutonCardSortie == sortie.getEtat.getlibelle and boutonCardSortie != "Clôturée" %}
            {% set boutonCardSortie = "S'inscrire" %}
        {% endif %}
    {% endif %}

    <div class="card" >
        <div class="card-body">
            <h4 class="card-title">{{ sortie.nom }}</h4>

            <div class="date">
                <h6 class=" mb-2 "> Le {{ sortie.dateHeureDebut |date('d/m/y H:i') }}</h6>

            </div>
            <hr />
            <div class="date"><h6 class=" mb-2 "> Durée: {{ sortie.duree }} min</h6>
            </div>
            <div class="date">
                <h6 class=" mb-2 "> Places disponibles
                    : {{ sortie.nbInscriptionMax - sortie.participants|length }}</h6>

            </div>
            <h6 class=" mb-2 "> Statut
                : {{ sortie.etat.libelle }}</h6>
            <div class="date">
                <h6>Organisateur : <a href="{{ path('app_user_show',{'id':sortie.organisateur.id}) }}"
                                      class="card-link">{{ sortie.organisateur.getFullName }}</a></h6>
            </div>
            <div class="date d-flex justify-content-between">
                <a class="mt-3 " href="{{ path('app_sortie_show', {'id':sortie.getId()}) }}">Plus d'infos</a>
                {% if boutonCardSortie == "S'inscrire" %}
                    <a class="inscription btn buttonBleuVert" sortieId="{{ sortie.id }}">{{ boutonCardSortie }}</a>
                {% elseif boutonCardSortie == "Se desister" %}
                    <a class="desistement btn buttonBlancBleu "
                         sortieId="{{ sortie.id }}">{{ boutonCardSortie }}</a>
                {% elseif boutonCardSortie == "Annuler sortie" %}
                    <a class="btn buttonBlancRouge" href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}"
                       class="card-link" id="annulerSortie">{{ boutonCardSortie }}</a>
                {% elseif boutonCardSortie == "Complet" %}
                    <button type="button" class="btn buttonGris" href="" class="card-link"
                            id="completSortie">{{ boutonCardSortie }}</button>
                {% else %}
                    <button type="button" class="btn buttonGris" href="" class="card-link"
                            id="completSortie">{{ boutonCardSortie }}</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}