{% extends 'base.html.twig' %}

{% block title %}Annuler Sortie{% endblock %}

{% block body %}
    <h1>Annuler une sortie</h1>
<div class="profil">
    {{ form_start(form) }}
    <div class="pageAnnulationDescriptif">
        <h5>Nom de la sortie :&nbsp; </h5>
        <p> {{ sortie.nom }}</p>
    </div>
    <div class="pageAnnulationDescriptif">
    <h5>Date de la sortie :&nbsp; </h5>
        <p>{{ sortie.dateHeureDebut|date('d/m/y') }}</p>
    </div>
    <div class="pageAnnulationDescriptif">
    <h5>Site organisateur : &nbsp; </h5>
        <p> {{ sortie.site }}</p>
    </div>
    <div class="pageAnnulationDescriptif">
    <h5>lieu : &nbsp; </h5>
        <p> {{ sortie.lieu.nom ~', '~ sortie.lieu.ville.codePostal  ~' '~  sortie.lieu.ville.nom }}</p>
    </div>
    <div class="rowAnnulationForm">
    {{ form_row(form.motifAnnulation) }}
    </div>
    <div id="boutonPageAnnuler">
    <button type="submit" class="btn buttonBlancRouge" >Valider l'annulation</button>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
