{% extends 'base.html.twig' %}

{% block title %}Liste d'utilisateur{% endblock %}

{% block body %}

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success mt-3">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('erreur') %}
        <div class="alert alert-danger mt-3">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1 class="titre"><strong>Upload fichier d'utilisateur</strong></h1>

    <div class="profil">

        {{ form_start(form) }}

        <div class="listeUtilisateur">
        {{ form_widget(form) }}
        </div>

        <div class="mt-4">

            <button class="btn btn-primary mr-3 buttonBleuVert">{{ button_label|default('Importer') }}</button>

            {{ form_end(form) }}
            <div class="mt-4">
                {% if emailEnDouble!=null %}
                <p>Attention, les utilisateurs avec ces adresses mails sont déjà présents dans la base de donnée</p><br>
                    <p>S'ils sont désactivés, possibilité de les rendre actifs</p><br>
                    {% for email in emailEnDouble %}
                        <li>{{ email }}</li>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
